<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/report.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Rental Report</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <div class="container-fluid">
            <h3 class="text-center mt-3">Customer Rental Report</h1>
        </div>

        <hr>
        <div class="container-fluid">
            <div class="container subcontainer card shadow rounded">
                <div class="row info text-center">
                    <div class="col-sm">
                        <span class="align-middle">Customer no.: <%= customer[0][0] %>  </span>
                    </div>
                    <div class="col-sm">
                        <span class="align-middle">Customer Name: <%= customer[0][1] %> <%= customer[0][2] %> </span>
                    </div>
                    <div class="col-sm">
                        <span class="align-middle">Customer Category: <%= customer[0][9].charAt(0).toUpperCase() + customer[0][9].slice(1) %> </span>
                    </div>
                    
                    <div class="col-sm">
                        <span class="align-middle">Category Discount: <%= customer[0][10] * 100 %>% </span>
                    </div>
                   
                </div>
                <div class="row info text-center">
                    <div class="col-sm">
                        <span class="align-middle">Customer Address: <%= customer[0][4] %>, <%= customer[0][3] %>, <%= customer[0][4] %>   </span>
                    </div>

                    <div class="col-sm ">
                        <span class="align-middle">Customer description: <%= customer[0][7] %> </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="contianer table-container">
            <table class="table text-center table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Painting no.</th>
                        <th scope="col">Painting Title</th>
                        <th scope="col">Painting Theme</th>
                        <th scope="col">Date of Hire</th>
                        <th scope="col">Date Due Back</th>
                        <th scope="col">Return date</th>
                        <th scope="col">Returned (Y/N)</th>
                        <th scope="col">Return</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- use for loop to fill the table -->
                    <% for( let i=0; i < data.length; i++ ) { %>
                        <tr >
                            <td scope="row">
                                <%= data[i][9] %>
                            </td>
                            <td><%= data[i][10] %> </td>
                            <td><%= data[i][11] %> </td>
                            <td>
                                <%= String(data[i][12]).slice(0, 16) %> 
                            </td>
                            <td>
                                <%= String(data[i][13]).slice(0, 16) %> 
                            </td>
                            <td>
                                <% if (data[i][14] == 1) { %>
                                    <%= String(data[i][15]).slice(0, 16) %>
                                <% } else { %>
                                    -
                                <% } %> 
                             </td>
                            <td>
                                <% if (data[i][14] == 1) { %>
                                    Y
                                <% } else { %>
                                    N
                                <% } %> 
                            </td>
                            <td>
                                <% if (data[i][14] == 1) { %>
                                    <a href="#" class="btn disabled">Return</a>
                                <% } else { %>
                                    <a href="/customers/return/?customerID=<%= data[0][0] %>&paintingID=<%= data[i][9] %> " class="btn">Return</a>
                                <% } %>
                            </td>
                        </tr>

                        <% } %>

                </tbody>

            </table>
        </div>


</body>

</html>