<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/report.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Report</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <div class="container-fluid">
            <h3 class="text-center mt-3">Artist Report</h1>
        </div>

        <hr>
        <div class="container-fluid">
            <div class="container subcontainer card shadow rounded">
                <div class="row info text-center">
                    <div class="col-sm">
                        <span class="align-middle">Artist no.: 123193 </span>
                    </div>
                    <div class="col-sm">
                        <span class="align-middle">Year of birth: <%= data[0].dob %> </span>
                    </div>
                    <div class="col-sm">
                        <span class="align-middle">Age: <%= data[0].age %> </span>
                    </div>
                </div>
                <div class="row info text-center">
                    <div class="col-sm ">
                        <span class="align-middle">Artist Name: <%= data[0].name %>  </span>
                    </div>
                    <div class="col-sm">
                        <span class="align-middle">Year of death: 2058</span>
                    </div>
                    <div class="col-sm">
                        <span class="align-middle">Country of birth: <%= data[0].country %> </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="contianer table-container">
            <table class="table text-center table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Painting no.</th>
                        <th scope="col">Painting Title</th>
                        <th scope="col">Painting Theme</th>
                        <th scope="col">Rental Price (monthly)</th>
                        <th scope="col">Owner no.</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Owner Tel</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- use for loop to fill the table -->
                    <% for( let i=0; i < 10; i++ ) { %>


                        <tr>
                            <td scope="row">
                                <%= i %>
                            </th>
                            <td>Caprice de puta</td>
                            <td>Puta</td>
                            <td>
                                <%= (i + 1) * 1343 %>$
                            </td>
                            <td>
                                <%= (i + 1) * 23 %>
                            </td>
                            <td>Puta de caprice</td>
                            <td>012129193</td>
                        </tr>

                        <% } %>

                </tbody>

            </table>
        </div>


</body>

</html>