<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/liststyles.css" />
    <link rel="stylesheet" href="/public/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <% if (data.length===0) { %>
            <div class="container text-center" style="margin-top: 40px;">
                <h3>No painting records found.</h3>
                <p><a href="/paintings/new" class="link-info">Insert</a> a new painting or visit the <a href="/help"
                        class="link-info">help</a> page</p>
            </div>
            <% } %>

            <div class="container-fluid" style="margin: 20px 0px 0px 30px;">
                <h3>Note</h3>
                <p>The return button is for testing purposes, since paintings need to be returned after 6 months if not rented 
                    and testing cannot be done withing that time duration.
                </p>
            </div>

                <!-- each row shall display 4 cards -->
                <div class="row">
                    <% for( let row=0; row < data.length; row++ ) { %>
                        <div class="col-sm-6">
                            <div class="card shadow">
                                <div class="card-header">
                                    Painting no: <%= data[row][0] %>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Painting Name: <%= data[row][1] %></h5>
                                    <table class="table table-bordered table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>Theme</td>
                                                <td><%= data[row][3] %></td>
                                            </tr>
                                            <tr>
                                                <td>Rental</td>
                                                <td><%= data[row][2] %>$</td>
                                            </tr>
                                            <tr>
                                                <td>Status</td>
                                                <td><%= data[row][6] %></td>
                                            </tr>
                                            <tr>
                                                <td>Artist</td>
                                                <td><%= data[row][9] %></td>
                                            </tr>
                                            <tr>
                                                <td>Owner</td>
                                                <td><%= data[row][10] %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="/paintings/delete/?paintingID=<%= data[row][0] %> " class="btn">Delete</a>
                                    <% if (data[row][6] !== 'returned') { %>
                                        <a href="/paintings/return/?paintingID=<%= data[row][0] %> " class="btn">Return (test)</a>
                                    <% } else { %>
                                        <a href="/paintings/return/?paintingID=<%= data[row][0] %> " class="btn disabled">Return (test)</a>
                                    <% } %> 
                                    <a href="/paintings/edit/?paintingID=<%= data[row][0] %> " class="btn btn-primary">Edit info</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>


</body>

</html>