<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/global.css" />
    <link rel="stylesheet" href="/public/forms.css">
    <title>Edit Painting</title>
</head>

<body>

    <%- include ('../partials/navbar') %>

        <% if (err) { %>
            <p><code>Error: <%= err %> </code></p>
            <% } else { %>

                <form action="/paintings/edit?paintingID=<%= data[0] %>" method="POST">
                    <div class="container">
                        <p>Info:</p>
                        <p>1. Artist record should be inserted first through the <b>Add Artist</b> so it can have a
                            painting
                            added here. </p>
                        <p>2. Owner record should be inserted first through the <b>Add Owner</b> so it can have a
                            painting added
                            here. </p>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="inputName">Name</label>
                                <input value="<%=data[1] %>" type="text" required class="form-control" name="name"
                                    id="inputName" placeholder="Name">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="inputName">Monthly Rental</label>
                                <input value="<%=data[2] %>" type="number" required min="0" step=".01"
                                    pattern="^\d*(\.\d{0,2})?$" class="form-control" name="rental" id="inputName"
                                    placeholder="Monthly Rental">
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="inputName">Theme</label>
                                <input value="<%=data[3] %>" type="text" required class="form-control" name="theme"
                                    id="inputName" placeholder="Theme">
                            </div>

                            <div class="form-group col-sm-4">
                                <% if (artists.length> 0) { %>
                                    <label for="inputName">Artist</label>
                                    <% } else { %>
                                        <label for="inputName">Artist (None present)</label>
                                        <% } %>
                                            <select required class="form-control" name="artists" id="category">
                                                <option value="" selected disabled hidden>Choose artist</option>
                                                <% for( let index=0; index < artists.length; index++ ) { %>
                                                    <% if (artists[index][0]===data[4]) { %>
                                                        <option selected value="<%= artists[index][0] %>">
                                                            <%= artists[index][0] %> - <%= artists[index][1] %>
                                                                    <%= artists[index][2] %>
                                                        </option>
                                                        <% } else { %>
                                                            <option value="<%= artists[index][0] %>">
                                                                <%= artists[index][0] %> - <%= artists[index][1] %>
                                                                        <%= artists[index][2] %>
                                                            </option>
                                                            <% } %>
                                                                <% } %>
                                            </select>
                            </div>

                            <div class="form-group col-sm-4">
                                <% if (owners.length> 0) { %>
                                    <label for="inputCountry">Owner</label>
                                    <% } else { %>
                                        <label for="inputCountry">Owner (None present)</label>
                                        <% } %>
                                            <select required class="form-control" name="owners" id="category">
                                                <option value="" selected disabled hidden>Choose owner</option>
                                                <% for( let index=0; index < owners.length; index++ ) { %>
                                                    <% if (owners[index][0]===data[5]) { %>
                                                        <option selected value="<%= owners[index][0] %>">
                                                            <%= owners[index][0] %> - <%= owners[index][1] %>
                                                                    <%= owners[index][2] %>
                                                        </option>
                                                        <% } else { %>
                                                            <option value="<%= owners[index][0] %>">
                                                                <%= owners[index][0] %> - <%= owners[index][1] %>
                                                                        <%= owners[index][2] %>
                                                            </option>
                                                            <% } %>
                                                                <% } %>
                                            </select>
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="submitbtn"></label>
                                <input type="submit" class="submitbtn form-control" id="submitbtn">
                            </div>
                        </div>
                    </div>
                </form>

                <% } %>


</body>

</html>